<section id="about-us">
	<h2>About Us</h2>
	<p>At Row & Table we specialize in using web technology to make apps that help your business or non-profit run smoothly and efficiently.  We look for ways to take tasks that are complicated and frustrating and make them simple, repeatable and even fun. </p>
	<p>We are a new company, but having a growing team with decades of combined experience in design and development.  We’ve worked with many highly satisfied clients, big and small, and created tools to help their business and we are confident you will be satisfied with the tools ane expertise we provide..</p>
</section>