<section id="other-costs">
	<h2>Other Costs</h2>
	
	<!-- table -->
	<table class="big-table">
		<thead>
			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Price</th>
				<th>Regularity</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hosting</td>
				<td>We will host the app on our server and ensure 99% uptime. </td>
				<td>$15</td>
				<td>Per Month</td>
			</tr>
			<tr>
				<td>Hosting</td>
				<td>We will host the app on our server and ensure 99% uptime. </td>
				<td>$15</td>
				<td>Per Month</td>
			</tr>
		</tbody>
	</table>
	<!-- /table -->

	<h3>Support</h3>
	<p>After project delivery support will be charged our standard hourly rate with a half-hour minimum.</p>
</section>