<section id="overview">
	<h2>Overview</h2>
	<p>Row & Table would like to submit a proposal for web development for The Village Office. This proposal will describe the services we think we can provide as well as terms and a proposed schedule.</p>
	<p>Few things save more time and headaches than having the right tool for the job.  As digital toolmakers, we hope to do more than make you a fancy website, we want to give you the time, confidence and fredom that comes with having tools built exactly for your needs that can change and grow as needed. </p>
</section>