header{
	text-align: center;
	height: 100vh;
	padding: 4vh 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;

	.logo{
		max-width: 80%;
	}

	.print-background{
		display: none;
		z-index: 0;

	}

	> *{
		width: 100%;
		z-index: 1;
	}
	> p{
		font-weight: 300;
		font-size: 1.5em;
	}

	span{
		display: block;
		font-size: 1rem;
		strong{
			display: block;
		}
	}
}
@include mobile{
	header{
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media print{
	header{
		font-size: 16px;
		.print-background{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 8.5in;

		}
		padding-bottom: 20vh;
		padding-top: 20vh;
		span img{
			display: none;
		}
		page-break-after: always;
	}
}