.team{
	display: flex;
	justify-content: space-between;
	div{
		width: 30%;
		img{
			display: block;
			margin: 0 auto 1em;;
			width: 70%;
			border-radius: 50%;
		}
		h3,
		h4{
			padding: 0;
			margin: 0;
		}
	}
}