.team{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	div{
		width: 30%;
		img{
			display: block;
			margin: 0 auto 1em;;
			width: 70%;
			max-width: 10em;
			border-radius: 50%;
		}
		h3,
		h4{
			padding: 0;
			margin: 0;
		}
		@include mobile {
			width: 45%;
		}
		@media screen and (max-width: 500px){
			width: 100%;
		}
	}
}