<header>
	<div class="print-background" alt="" style="background: url({{site.baseurl}}/assets/images/background.jpg) no-repeat center center; background-size: cover;"></div>

	<h1>
		<img src="{{site.baseurl}}/assets/images/logo-light.png" alt="Row & Table Solutions">
	</h1>

	<p>We build custom software tools for your business or non-profit.</p>

	<span>
		<p>
			Bid for:
			<strong>The Village Office</strong>
			Job 001
		</p>
		<img src="../assets/svg/chevrons-down.svg" alt="">
	</span>

</header>