<article class="task">
	<h3>Task 1: Customer Login and Details</h3>
	<p>This is a web app where customers can manually login to show that they are in a co-working location and see the details of their Village Office account.</p>
	
	<!-- basedPrices -->
	<div class="basedPrices">
			<table>
				<tr>
					<th>Time & Material Estimate</th>
					<th>Value Based Price*</th>
				</tr>
				<tr>
					<td>$2,460</td>
					<td>$3,198</td>
				</tr>
			</table>
			<p>*Value based prices are locked in.  In other words, even if it takes us 30 more hours than the estimate to complete the agreed upon tasks, your price doesn’t change.  To protect against unforseen costs on our end, we offer this at 130% of our Time & Material Estimate</p>
		</div>
	<!-- /basedPrices -->

	<!-- sub-tasks -->
	<h4>Sub-Tasks Estimate</h4>
	<div style="overflow-x:auto;">
		<table class="big-table" style="page-break-inside: avoid">
				<thead>
					<tr>
						<th>Task</th>
						<th>Description</th>
						<th>Dev Hours</th>
						<th>Design Hours</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td>27</td>
						<td>180</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td>Prototyping</td>
						<td>We will prototype and wireframe what this part of the app should do, working with the developer to make sure things go smoothly further on in the process.</td>
						<td>1</td>
						<td>5</td>
					</tr>
					<tr>
						<td>Prototyping</td>
						<td>We will prototype and wireframe what this part of the app should do, working with the developer to make sure things go smoothly further on in the process.</td>
						<td>1</td>
						<td>5</td>
					</tr>
				</tbody>
			</table>
	</div>
	<!-- /sub-tasks -->
	
</article>