// Josefin Sans light (300), regular (400) and bold (700) for headings and navigation
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
// Roboto for text regular (400) and bold (700)
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

$main-font: 'Josefin Sans', sans-serif;
$text-font: 'Roboto', sans-serif;

* {
	font-family: $main-font;
}

.text {
	font-family: $text-font;

}